<div style="white-space:pre-wrap">
<h1>Current month expenses <%= @year_month %></h1>

<p>Subject: najemnina in stroski</p>

Zdravo Marjeta,

najemnina in stroški so razvidni spodaj.

Lep pozdrav
Toni


<%= @current_month_expenses %>
</div>
