<div style="white-space:pre-wrap">
  <h1>Current month expenses</h1>
  Zdravo Marjeta,

  najemnina in stroski so razvidni is podatkov spodaj.

  Lep pozdrav
  Toni

<%= @current_month_expenses %>
</div>
